:root {
  --background: #0B0809;
  --background-2: rgba(63, 63, 63, 0.30);

  --hover-color: rgba(217, 217, 217, 0.08);
  --select-color: rgba(98, 106, 255, 0.63);
  --select-color-hover: rgba(98, 106, 255, 0.50);

  --transition-animation: all 0.2s ease-in-out;
}

.frame {
  display: flex;
  background-color: var(--background);
  align-items: left;

  width: 100vw;
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  /* p1 */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
}

.recharts-cartesian-axis-tick {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}