.sidebar{
    display: flex;
    padding: 165px 15px 20px 14px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    background-color: var(--background-2);
    border: 1px solid var(--hover-color)

}

.sidebar-closed{
    align-items: center;
}

.sidebar-open{
    width: 323px;
}
.open{
    width: 323px;
}
