.sidebar{
    display: flex;
    padding: 140px 15px 20px 14px;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 0 ; 
    align-self: stretch;

    background-color: var(--background-2);
    border: 1px solid var(--hover-color);

    transition: var(--transition-animation); 
    max-width: 80px;
}

.sidebar.sidebar-closed{
    max-width: 50px;
}

.sidebar.sidebar-open{
    max-width: 250px
}
